body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-size: cover;
    /*background-position: center;*/
}

p{
    font-size: 20px;
    color: #27374D;
    text-align: center;
    background-color:#DDE6ED;
}
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100h;
    color: #DDE6ED;
}
#result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #DDE6ED;
    
}

#resultlower{
    background-color: #7497b3cc;
    margin-top: 50px;
    padding: 10px;
    
}

#login-form {
    background-color: #7497b3cc;
    padding: 20px;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #526D82;
}

#login-form input[type="submit"] {
    background-color: #9DB2BF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#login-form input[type="submit"]:hover {
    background-color: #8597A2;
}
@media (orientation: portrait) {
body {
display: none;
}
}